<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Simple app</title>
	<script src="lib/angular.min.js"></script>
</head>
<body>
<script>
	angular.module('myApp',[]).
		run(function($rootScope){
			$rootScope.rootProperty = 'root scope';
		}).
		controller('ParentController',function($scope){
			$scope.parentProperty = 'parent scope';
		}).
		controller('ChildController',function($scope){
			$scope.childProperty = 'child scope';
			$scope.fullSentenceFromChild = 'Same $scope: We can access: ' +
										   $scope.rootProperty + ' and ' +
										   $scope.parentProperty + ' and ' +
										   $scope.childProperty;
		}).
		directive('myDirective',function(){
			return {
				restrict: 'A',
				replace: true,
				scope: {
					myUrl: '=someAttr',
					myLinkText: '@'
				},
				template: '<div>\
						   	<a href="{{ myUrl }}">{{ myLinkText }}</a>\
						   </div>'
			};
		});
</script>
	<label>Their URL field:</label>
	<input type="text" ng-model="theirUrl">
	<div my-directive
		 some-attr="theirUrl"
		 my-link-text="Click me to go to Google"></div>

	<br><hr><br>

	<input type="text" ng-model="myUrl">
	<div my-directive some-attr="{{ myUrl }}"
		 my-link-text="Click me to go to Google"></div>
	<br><hr><br>
	<p>We can access: {{ rootProperty }}</p>
	<div ng-controller="ParentController">
		<p>We can access: {{ rootProperty }} and {{ parentProperty }}</p>
		<div ng-controller="ChildController">
			<p>
				We can access:
				{{ rootProperty }} and
				{{ parentProperty }} and
				{{ childProperty }}
			</p>
			<p>{{ fullSentenceFromChild }}</p>
		</div>
	</div>
	<br><hr><br>
	<h1 ng-init="greeter = 'Hello'">
		{{ greeter }}
	</h1>
	<my-directive></my-directive>
	<div my-directive></div>
	<div class="my-directive"></div>
	<!-- directive: my-directive -->
</body>
</html>